/* Medium Layout: 1280px. */
@media only screen and (min-width: 1600px) and (max-width: 5500px) {
.hero-area.case4.bt.display-table {
    background-position: bottom !important;
    height: 1000px !important;
}


}



/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
.process-overview-details-single {
    width: 22%;
}

.process-overview-details-single h5 {
    font-size: 17px;
}
.process-overview-area2 .process-overview-details-single {
    width: 30%;
}

.process-overview-area2 .process-overview-details-single h5 {
    font-size: 20px;
}

.single-journey li {
    width: 18.4%;
    padding: 9px;
    padding-top: 8px;
    font-size: 13px;
}

.single-journey li:after {
    width: 100%;
    display: none;
}
.case4 .singlecase3-content, .case4 .project-overview-title h2 {
    margin-left: 0px;
    margin-right: 0px;
}
.margin-lr60 {
    margin-left: 0px;
    margin-right: 0px;
}
.case5-slide-active .owl-nav div {
    left: -45px;
}

.case5-slide-active .owl-nav .owl-next {
    right: -45px;
}

}


/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.single-journey li:after {
    width: 100%;
    display: none;
}

div#navbarsExampleDefault {
    background: #48adc7;
    margin-top: 16px;
    padding-bottom: 20px;
}

.navbar-toggler {
    background: #48adc7;
    color: #fff;
    position: absolute;
    right: 0;
    top: 5px;
}
.process-overview-details-single {
    width: 21.8%;
}
.hero-txt h1 {
    font-size: 32px;
}
.slide-img h6 {
    font-size: 14px;
}

.case2 .display-tablecell {
    vertical-align: middle;
}

.case2 .case-study-hero-text {
    margin-top: 162px;
}

.case2 .case-study-hero-text p {
    font-size: 48px;
}

.case2 .case-study-hero-text p strong {
    font-size: 48px;
}

.process-overview-area2 .process-overview-details-single {
    width: 29.2%;
    padding-top: 31px;
}

.process-overview-area2 .process-overview-details-single h5 {
    font-size: 18px;
}

.process-overview-area2 .process-overview-detail:after {
    width: 44%;
}

.process-overview-area2 .process-overview-detail {
    padding-left: 40px;
    padding-right: 40px;
}

.case2-project-overview-txt {
    padding: 60px 20px;
}

.single-journey li {
    width: 30.6%;
    margin-bottom: 15px;
}

.tast-left p {
    line-height: 23px;
}

.case3 .case-study-hero-text {
    margin-top: 120px;
}
.case4 .singlecase3-content, .case4 .project-overview-title h2 {
    margin-left: 0px;
    margin-right: 0px;
}
.margin-lr60 {
    margin-left: 0px;
    margin-right: 0px;
}
.case4-slide-active .owl-nav div {
    left: -20px;
}

.case4-slide-active .owl-nav .owl-next {
    right: -20px;
}
.case5-custom {
    padding-left: 20px;
    padding-right: 20px;
}
.case5-slide-active .owl-nav div {
    left: -45px;
}

.case5-slide-active .owl-nav .owl-next {
    right: -45px;
}
.case52-slide-active .owl-nav div {
    left: -20px;
}

.case52-slide-active .owl-nav .owl-next {
    right: -20px;
}
.case-study-section-title.pdr {
    padding-right: 0px;
}
.singlecase3-content iframe {
    margin-left: 0px;
    width: 100% !important;
}

.page-template-blog-template .brendan-banner.banner3, .page-template-template-resources .brendan-banner.banner3, .page-template-template-case_studies .brendan-banner.banner3, .page-id-1011 .brendan-banner.banner3 {
    height: 400px !important;
}

.content-single .entry-content img {
    width: 100%;
    height: auto;
    max-height: 100%;
    min-width: 100%;
    min-height: auto;
    max-width: 100%;
}

.brownvent-post-featured-content img {
    width: 100% !important;
    height: auto !important;
}

.project-inquires {
    height: 900px !important;
    padding: 20px 0 0 15px !important;
}

.mainmenu {
    display: none;
}

.brendan-responsive-menu {
    display: block !important;
}


}


/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
br{
	display: none;
}

h2 {
    font-size: 25px !important;
}

.singlecase3-content iframe {
    margin-left: 0px;
    width: 100% !important;
}
.margin-lr60 {
    margin-left: 0px;
    margin-right: 0px;
}
.case-study-section-title.pdr {
    padding-right: 0px;
}


.case4 .singlecase3-content, .case4 .project-overview-title h2 {
    margin-left: 0px;
    margin-right: 0px;
}

.single-journey li:after {
    width: 100%;
    display: none;
}

div#navbarsExampleDefault {
    background: #48adc7;
    margin-top: 16px;
    padding-bottom: 20px;
}

.navbar-toggler {
    background: #48adc7;
    color: #fff;
    position: absolute;
    right: 0;
    top: 5px;
}
.single_slide {
    margin-left: 0;
    margin-right: 0;
}


.slide-img h6 {
    font-size: 14px;
}

.hero-txt h1 {
    font-size: 22px !important;
    line-height: 30px !important;
}

.hero-area {
    height: 620px !important;
}

.contact-social.contact-form {
    margin-top: 50px;
}

.submit-btn_ {
    text-align: center;
}


.case-study-section-title h2 {
    font-size: 23px;
}

.about-list {
    margin-bottom: 30px;
}

.case-study-about {
    padding-bottom: 100px;
}

.project-area {
    margin-top: -80px;
}

.section-title h2 {
    font-size: 25px;
    margin-bottom: 30px;
}

.project-overview-img.img1_ {
    margin-bottom: 100px;
}

.process-overview-area {
    margin-top: 0;
}

.process-overview-details-single {
    width: 42%;
    margin: 10px 10px;
}

.process-overview-detail {
    padding: 20px;
}

.pd-top-140 {
    padding-top: 100px;
}

.project-overview-title h2 {
    font-size: 25px;
}

.single-calculation {
    margin-bottom: 10px;
    margin-top: 10px;
}

.pd-top-230 {
    padding-top: 100px;
}

.cta-area h2 {
    font-size: 29px;
}

.process-overview-detail:after{
    display: none;
}

.case2 .case-study-hero-text {
    margin-top: 100px;
    margin-bottom: 70px;
}

.process-overview-area2 .process-overview-details-single {
    width: 100%;
    margin: 30px 0px;
}

.process-overview-area2 .process-overview-detail {
    padding-left: 20px;
    padding-right: 20px;
}

.case2 .case-study-hero-text p {
    font-size: 50px;
}

.case2 .case-study-hero-text p strong {
    font-size: 50px;
}

.case2-project-overview-txt {
    padding: 20px;
}

.single-journey li {
    width: 45%;
    margin-bottom: 15px;
    font-size: 12px;
    padding-top: 10px;
}

.journey-list {
    padding: 20px;
}

.single-journey {
    margin: 30px 0px;
}

.pd-right0 {
    padding-right: 15px;
}

.pd-left0 {
    padding-left: 15px;
}


.case3 .case-study-hero-text {
    margin-top: 80px;
    margin-bottom: 40px;
}
.case4-slide-active .owl-nav div {
    left: -20px;
}

.case4-slide-active .owl-nav .owl-next {
    right: -20px;
}
.case4 .case-study-hero-text {
    margin-top: 25px;
}

.case-study-about.case4 {
    padding-top: 0;
}

.case4 .project-overview-title h4 {
    font-size: 24px;
}

.case4 .project-overview-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.case4-high-image {
    padding-bottom: 200px;
}

.more-project {
    padding-bottom: 100px;
}

.case5-custom {
    padding-left: 20px;
    padding-right: 20px;
}

.case5-slide-active .owl-nav div {
    left: -10px;
}

.case5-slide-active .owl-nav .owl-next {
    right: -10px;
}
.case52-slide-active .owl-nav div {
    left: -10px;
}

.case52-slide-active .owl-nav .owl-next {
    right: -10px;
}
.single-project img {
    width: 100%;
}


/*custom new css*/
div#portfolio .project_d h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

div#portfolio .project_d p {
    font-size: 16px;
    line-height: 23px;
}

.single-project button {
    margin-top: 0;
}

.single-project:hover .project_d {
    top: 30px;
}

.case4-high-image {
    margin-bottom: -20px;
}

.process-overview-details-single h5 {
    font-size: 13px;
}


.process-overview-details-single.sing_p {
    padding-top: 18px;
    padding-left: 5px;
    padding-right: 5px;
}
.case2 .display-tablecell {
    vertical-align: middle;
}
.case2 .display-tablecell {
    vertical-align: middle;
}

.project-overview-area .pd-top-110 {
    padding-top: 0;
}

.coming-soon {
    padding-bottom: 0;
}

.project-overview-title {
    margin-bottom: 30px;
}

.case-study-about.case2 {
    padding-bottom: 60px;
}
.banner-left-content h2 {
    font-size: 34px;
}

.banner-left-content {
    padding-top: 100px;
    padding-bottom: 0;
    margin-bottom: 15px;
}

/*.vc_custom_1555456693233 {
    padding-top: 40px !important;
    padding-bottom: 0 !important;
}

.vc_custom_1555456693233 h2 {
    font-size: 26px;
}
*/

.approach-wrapper.white-bg {
    padding-bottom: 60px;
    padding-top: 70px;
}

.single-ap-box {
    margin-bottom: 30px;
}

.approach-wrapper h2 {
    margin-bottom: 30px;
}

.project-area.work-area {
    margin-top: 60px;
}

.project-area {
    margin-bottom: -40px;
}

.footer-bottom {
    height: inherit !important;
}

.gfc-wrapper {
    height: inherit;
    padding: 50px 0 10px;
}

.gfc-right-content {
    height: inherit;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.gfc-right-content h2, .gfc-right-content h3, .gfc-right-content h4, .gfc-right-content h5 {
    font-size: 20px !important;
}

.gfc-right-content .wpcf7-form input[type=submit] {
    width: 100%;
}

input[type=submit], button[type=submit] {
    width: 100%;
}

.brendan-single-post-block {
    height: inherit;
}

a.sin-post-link {
    width: 100%;
    margin-right: 0;
    border-radius: 10px;
    float: none;
    display: block;
}

.post-block-content {
    padding: 20px;
}

.banner3-content {
    color: #fff;
    margin-top: 80px;
}

.single .footer-bottom, .page-id-1011 .footer-bottom {
    margin-top: 50px !important;
}

.brendan-banner.banner3 {
    margin-bottom: 60px;
}

.main-case-studies-content, .main-free-resource-content {
    padding-bottom: 60px !important;
}

.main-case-studies-content > h2, .main-free-resource-content > h2 {
    margin-top: 30px;
}

.breadcamp-area-single {
    height: inherit !important;
    margin-bottom: 70px !important;
    padding-bottom: 70px;
}

.check-out-other-post {
    font-size: 22px !important;
}

.post-block-content h2 {
    font-size: 20px !important;
}

.wh-wrapper h2 {
    line-height: 1.3;
}

.wh-wrapper {
    margin: 0 0 50px;
}

img.ventures-top-shape, .feature-nyc-top-content {
    margin-bottom: 30px !important;
}

.feature-nyc-top-content h3 {
    font-size: 24px;
    line-height: 1.3;
}

.approach-wrapper.feature-nyc {
    padding: 150px 0 80px;
}


.content-single .entry-content img {
    width: 100% !important;
    height: auto !important;
    max-height: 100% !important;
    min-width: 100% !important;
    min-height: auto !important;
    max-width: 100%;
}

.brownvent-post-featured-content img {
    width: 100% !important;
    height: auto !important;
}

.project-inquires {
    height: inherit !important;
    padding: 30px 0 50px 20px !important;
    top: -115px !important;
}

#caldera_form_1 label.checkbox-inline {
    width: 100% !important;
    padding-left: 0 !important;
    display: block !important;
    margin-bottom: 5px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#caldera_form_1 input[type=submit] {
    float: none !important;
    width: 100% !important;
    margin-top: 15px;
}

.mainmenu .menu-main-menu-container li {
    display: block !important;
    text-align: left;
}

.mainmenu .menu-main-menu-container li a {
    padding: 2px 5px;
}

.the_champ_sharing_container.the_champ_horizontal_sharing {
    position: absolute !important;
    left: 0 !important;
    transform: inherit !important;
    bottom: -50px !important;
    width: inherit !important;
    top: inherit !important;
}

.the_champ_sharing_container.the_champ_horizontal_sharing li {
    transform: inherit !important;
}

.content-single .entry-content h2, .content-single .entry-content h3, .content-single .entry-content h4 {
    font-size: 20px !important;
}

.brownvent-post-featured-content {
    margin-bottom: 20px !important;
}

.mainmenu {
    display: none;
}

.brendan-responsive-menu {
    display: block !important;
}





 }   
    
 
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  



}






















