/* CircularStd @font-face kit */
/*@font-face {
  font-family: 'CircularStd-black';
  src: url('../fonts/CircularStd-Black.eot');
  src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Black.woff') format('woff'), url('../fonts/CircularStd-Black.ttf') format('truetype'), url('../fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-bold';
  src: url('../fonts/CircularStd-Bold.eot');
  src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-BlackItalic.eot');
  src: url('../fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BlackItalic.woff') format('woff'), url('../fonts/CircularStd-BlackItalic.ttf') format('truetype'), url('../fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: 'CircularStd-semi-bold';
  src: url('../fonts/CircularStd-Bold.eot');
  src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-BoldItalic.eot');
  src: url('../fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BoldItalic.woff') format('woff'), url('../fonts/CircularStd-BoldItalic.ttf') format('truetype'), url('../fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd-medium';
  src: url('../fonts/CircularStd-Medium.eot');
  src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Medium.woff') format('woff'), url('../fonts/CircularStd-Medium.ttf') format('truetype'), url('../fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-MediumItalic.eot');
  src: url('../fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-MediumItalic.woff') format('woff'), url('../fonts/CircularStd-MediumItalic.ttf') format('truetype'), url('../fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd-normal';
  src: url('../fonts/CircularStd-Book.eot');
  src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-BookItalic.eot');
  src: url('../fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BookItalic.woff') format('woff'), url('../fonts/CircularStd-BookItalic.ttf') format('truetype'), url('../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'sentinel-bold';
  src: url('../fonts/sentinel-bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'sentinel-book';
  src: url('../fonts/sentinel-book.ttf');
  font-weight: 400;
  font-style: normal;
}*/

@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Mukta:300,400,500,600,700,800&display=swap');

/*
 *****************************************
    >>> | 01 Browser Reset & Common CSS|
 *****************************************
*/
html, body{
    height: 100%;
}
body {
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #323232;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:focus,
a:hover,
a:visited,
input,
.bootstrap-select>.dropdown-toggle,
input:hover,
.bootstrap-select>.dropdown-toggle:hover,
input:focus,
.bootstrap-select>.dropdown-toggle:focus,
input:active,
.bootstrap-select>.dropdown-toggle:active,
select {
    text-decoration: none;
    outline: none;
}

button:focus{
  outline: 0px;
}

img {
    max-width: 100%;
}

a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

a:hover {
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    margin: 0 0 15px;
}


/*
 *****************************************
 >>> | 03. navigation css Start
 *****************************************
*/
.header_area .navbar-expand-lg {
    padding-left: 0;
    padding-right: 0;
}

.header_area {
    position: absolute;
    width: 100%;
    /*top: 40px;*/
    padding-top: 25px;
    padding-bottom: 25px;
    transition: .5s;
    z-index: 2;
}


.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    display: block;
    padding-left: 28px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    opacity: .7;
}

div#navbarsExampleDefault {
    text-align: left;
}

.navbar-toggler {
    background: #fff;
    padding: 0;
    font-size: 24px;
    line-height: 33px;
    height: 35px;
    width: 38px;
    cursor: pointer;
}

.display-table {
    display: table;
    width: 100%;
}

.display-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.hero-area {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.hero-area.home_h {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url(../assets/svg/home_bg.svg) !important;
}



.hero-txt h4 {
    color: #fff;
    margin-bottom: 25px;
}

.hero-txt h1 {
    color: #fff;
    margin-bottom: 0;
    line-height: 1.5;
}



.single_slide {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 30px;
    /* box-shadow: 0 2px 0px 1px #eaeaea; */
    margin-bottom: 30px;
    margin-top: 20px;
    box-shadow: 0 2px 5px 0 rgba(210, 210, 210, 0.1), 0 1px 12px 0 rgba(24, 24, 24, 0.15);
}
.single_slide p {
    color: #323232;
    line-height: 23px;
    margin-bottom: 20px;
}

.slide img {
    height: 42px !important;
    width: 42px;
    display: inline-block;
    margin-top: -25px;
}

.slide-img h6 {
    display: inline-block;
    margin-bottom: 0;
    font-size: 16px;
    color: #343434;
    margin-left: 6px;
}

.slide-img h6 span {
    color: #858585;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    font-family: 'Mukta', sans-serif;
}

.slick-slide {
    margin: 0px 10px;
}

/*.slide-area {
    margin-top: -215px;
}
*/
.slide-area {
    margin-top: -160px;
}

div#wpcf7-f59-o1 p {
    margin-bottom: 0;
}

/*.wpcf7-response-output {
    transform: translateY(20px);
}*/

.slide-area .slick-arrow {
    background: none;
    color: #fff;
    font-size: 20px;
    height: 34px;
    width: 34px;
    border: 2px solid #b3dee9;
    border-radius: 100px;
    margin-right: 3px;
    cursor: pointer;
    transition: .4s;
    position: absolute;
    right: 11px;
    top: -26px;
    line-height: 32px;
}

.slide-area .prev.slick-arrow {
    right: 50px;
}

.slide-area .slick-arrow:hover {
    opacity: .7;
}

.project-area {
    margin-top: 85px;
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 36px;
    color: #343434;
    margin-bottom: 40px;
}

.single-project {
    margin-bottom: 30px !important;
}

.load-more-btn, .loadMoreBtn.btn {
    color: #42adc9!important;
    width: 275px;
    height: 60px;
    border: 1px solid #42adc9;
    display: inline-block;
    line-height: 60px;
    border-radius: 5px;
    margin-top: 45px;
    padding: 0px!important
}

.load-more-btn:hover, .loadMoreBtn.btn:hover {
   /* opacity: .6;*/
    color: #42adc9;
}

.project-area.work-area {
    margin-top: 110px;
}


.contact-form h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 27px;
}

.contact-form p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.contact-form h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 27px;
}

.contact-form p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 60px;
    border: none;
    padding-left: 20px;
    border-radius: 5px;
    font-size: 18px;
}

.contact-form textarea {
    height: 173px;
    padding-top: 25px;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #3a3a3a;
}

.submit-btn_ {
    text-align: right;
}

.contact-form input[type="submit"] {
    width: 275px;
    height: 60px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: none;
    border: 1px solid #fff;
    transition: .4s;
    margin-top: 10px;
    cursor: pointer;
    margin-right: -20px;
    border-radius: 40px;
}

.contact-form input[type="submit"]:hover {
    opacity: .6;
}


.contact-social a {
    height: 40px;
    width: 40px;
    display: inline-block;
    color: #42adc9;
    background: #fff;
    line-height: 44px;
    text-align: center;
    border-radius: 100px;
    font-size: 18px;
    margin-right: 7px;
}

.contact-social a:hover {
    opacity: .6;
}

.footer-bottom {
    background: #343434;
    height: 136px;
}

.footer-bottom p {
    color: #fff;
    margin-bottom: 0;
    /* margin-left: 30px; */
    font-size: 16px;
    opacity: .8;
    margin-top: 10px;
}

.footer-logo {
    margin-top: 15px;
}
.footer-area {
    margin-top: 100px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}




/*case study one css*/
.case-study-about {
    padding-top: 110px;
    padding-bottom: 200px;
}

.case-study-section-title h5, .title_common h4 {
    color: #d72027;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.title_common h4{
    letter-spacing: 2px;

}

.case-study-section-title h2, .title_common h2 {
    font-size: 34px;
    margin-bottom: 55px;
}

.about-list h6, .list_common p {
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #d72027;
    margin-bottom: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.list_common a{
    border-bottom: 1px solid;
}

.case-study-section-title h5 {
    letter-spacing: 2px;
}
.about-list li {
    color: #656565;
}

.project-overview-title h2 {
    margin-bottom: 30px;
}

.project-overview-title p {
    color: #000000;
}

.project-overview-title {
    margin-bottom: 80px;
}

.process-overview-area {
    margin-top: 100px;
}

.project-overview-img.img1_ {
    margin-bottom: 60px;
}
.process-overview-area .project-overview-title, .process-overview-area .project-overview-title p {
    color: #fff;
}

.process-overview-details-single {
    padding-top: 25px;
    background: #1e1e1e;
    height: 73px;
    float: left;
    width: 22.7%;
    margin: 40px 10px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
}

.process-overview-detail {
    background: #ffffff;
    display: inline-block;
    padding: 0px 25px;
    width: 100%;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.process-overview-detail:after {
    z-index: -1;
    position: absolute;
    left: 100px;
    top: 78px;
    height: 1px;
    width: 78%;
    content: "";
    background: #1e1e1e;
}
.process-overview-details-single h5 {
    font-size: 16px;
    margin-bottom: 0;
}

.pd-top-140 {
    padding-top: 140px;
}
.calculation-area {
    text-align: center;
}

.single-calculation {
    background: #a1151a;
    border-radius: 6px;
    color: #fff;
    height: 140px;
    padding-top: 30px;
}

.single-calculation p {
    margin-bottom: 0;
    font-size: 18px;
    color: #d9a1a3;
}

.single-calculation h2 {
    margin-bottom: 0;
    font-size: 44px;
}
.pd-top-230 {
    padding-top: 230px;
}

.cta-area, .cta_new {
    color: #fff;
}

.cta-area h2, .cta_new h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cta-area p, .cta_new p {
    font-size: 18px;
    color: #a1a1a1;
}
.cta_new p{
    color: #fff;
    opacity: .6;
}

.cta-area a, .cta_new a {
    width: 275px;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    height: 60px;
    line-height: 57px;
    border-radius: 4px;
    margin-top: 18px;
}

.cta-area a:hover, .cta_new a:hover {
    opacity: .7;
}

.more-project {
    background: #f4f4f4;
    padding-bottom: 170px;
}

.more-project h2 {
    margin-bottom: 55px;
    font-size: 36px;
}


/*Cace study 2 area css*/
.case2 .display-tablecell {
    vertical-align: bottom;
}

.case2 .case-study-section-title h5, .case2 .about-list h6 {
    color: #1d2e6c;
}
.list-p p {
    margin-top: 24px;
}

.case2-project-overview-txt {
    color: #fff;
    padding: 65px 0px;
    border-radius: 5px;
}

.case2-project-overview-txt p {
    margin-bottom: 0;
    font-size: 22px;
}

.case2-project-overview-txt strong {
    color: #00b2ce;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 18px;
}
.pd-top-70 {
    padding-top: 70px;
}

.case2 .project-overview-title {
    margin-bottom: 0;
}

.case2 .case-study-hero-text p {
    font-size: 60px;
    color: #fff;
    margin-bottom: 0;
}

.case2 .case-study-hero-text p strong {
    font-size: 60px;
}

.case2 .case-study-hero-text {
    margin-top: 250px;
}

.case2-long-image img {
    margin-top: -40px;
}

.case2-long-image {
    padding-bottom: 200px;
    margin-top: 120px;
}
.pd-top-110 {
    padding-top: 110px;
}

.process-overview-area2 .process-overview-details-single {
    background: #1d2e6c;
    width: 31.1%;
    height: 130px;
    margin: 60px 10px;
    padding-top: 40px;
}

.process-overview-area2 .process-overview-detail {
    background: #f4f4f4;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 40px;
}

.process-overview-area2 .process-overview-details-single span {
    font-weight: 700;
    color: #00b2ce;
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
}

.process-overview-area2 .process_2 .process-overview-details-single h5 {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Mukta', sans-serif;
}
.process-overview-area2 .process-overview-detail:after {
    top: 127px;
    left: 220px;
    width: 53%;
}

.case2-project-overview-txt {
    margin-top: 50px;
}

strong {
    font-size: 18px;
}

.case2 .project-overview-title h6 {
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.mobile-screen {
    margin-bottom: 60px;
}

.mobile-screen span {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #ff5001;
    text-align: center;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.mobile-screen p {
    font-size: 15px;
}

.list-p li {
    font-size: 15px;
}

.project-journeya-area {
    margin-top: 80px;
}

.journey-list {
    padding: 20px 70px;
    color: #fff;
    border-radius: 9px;
}

.single-journey li {
    display: inline-block;
    border: 1px solid #fff;
    float: left;
    width: 18.7%;
    padding: 10px;
    height: 93px;
    line-height: 20px;
    padding-top: 15px;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
    z-index: 5;
    background: #1d3068;
}

.single-journey li:last-child {
    margin-right: 0px;
}

.single-journey h5 {
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    color: #00b2ce;
    margin-bottom: 25px;
}

.single-journey {
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
}

.single-journey li:after {
    position: absolute;
    left: 180px;
    top: 47px;
    height: 1px;
    width: 100%;
    content: "";
    background: #fff;
    z-index: -1;
}

.single-journey li:last-child:after {
   display: none;
}
.project-overview-area.wireframe-2 {
    margin-top: 70px;
}

.wireframe-2 ul {
    margin-top: 40px;
    margin-bottom: 80px;
}

.pd-top-50{
    padding-top: 50px;
}
.pd-right0 {
    padding-right: 0;
}

.pd-left0 {
    padding-left: 0;
}

.tast-left {
    background: #1d2e6c;
    color: #fff;
    height: 285px;
}

.tast-right {
    background: #f6f6f6;
    height: 285px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 48px;
    padding-left: 30px;
}

.tast-area .row {
    margin-bottom: 20px;
}

.tast-left strong {
    color: #00b2ce;
}

.tast-left p {
    margin-bottom: 0;
}

.tast-left {
    padding: 0px 30px;
    padding-top: 48px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.project-overview-title.cta2 strong {
    margin-top: 60px;
    display: inline-block;
}

.reflection-area {
    padding-top: 150px;
}

.case2 .cta-area .display-tablecell {
    vertical-align: middle;
}

.cta-area p {
    color: #fff;
    opacity: .6;
    font-size: 18px;
}



/*case study 3 css*/
.case3 .case-study-hero-text img {
    width: 212px;
    height: 105px;
}

.case3 .case-study-hero-text {
    margin-top: 170px;
}

.case3 .case-study-section-title h5 {
    color: #5DB46C;
}

.case3 .about-list h6 {
    color: #5DB46C;
}

.case3.case-study-about {
    padding-bottom: 150px;
}

.singlecase3-content p {
    margin-bottom: 35px;
}

.singlecase3-content h4 {
    font-size: 16px;
    margin-bottom: 35px;
    line-height: 30px;
}


.case3-img {
    margin-top: 70px;
    margin-bottom: 150px;
}

.case3-img p {
    font-size: 14px;
    margin-top: 15px;
}

.case3 .cta-area p {
    color: #fff;
    opacity: .6;
}


/*case4 area css*/

.case4-hero-image {
    transform: translateY(52px);
}

.case4 .case-study-hero-text {
    margin-top: 130px;
}

.case-study-about.case4 {
    background: #f5f6fb;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-bottom: 110px;
}

.case4 .process-overview-details-single {
    background: #5bb36a;
}

.case4 .process-overview-detail:after {
    background: #5bb36a;
}
.margin-lr60 {
    margin-left: 60px;
    margin-right: 60px;
}
.case4-high-image {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    padding-bottom: 660px;
    margin-top: 100px;
    margin-bottom: -100px;
}
.case4-high-image img {
    margin-top: -130px;
}
.case4 .project-overview-title {
    margin-bottom: 100px;
    margin-top: 100px;
}

.case-study-about.case4 {
    margin-bottom: 0;
}
.case4-slide-active .owl-nav div, 
.case5-slide-active .owl-nav div, 
.case52-slide-active .owl-nav div {
    position: absolute;
    left: -50px;
    top: 50%;
    font-size: 50px;
    color: #5176f1;
    transition: .4s;
    opacity: .5;
}

.case4-slide-active .owl-nav .owl-next, .case5-slide-active .owl-nav .owl-next,
 .case52-slide-active .owl-nav .owl-next {
    left: auto;
    right: -50px;
}

.case4-slide-active .owl-nav div:hover, 
.case5-slide-active .owl-nav div:hover, 
.case52-slide-active .owl-nav div:hover {
    opacity: 1;
}

.case4 .project-overview-title h4 {
    font-size: 30px;
}

.case4-high-image.case4 h4, .case4-high-image.case4 p {
    color: #fff;
}




/*case 5 css*/

.case-study-about.case5 {
    background: #fbfbfb;
}

.case5 .about-list h6 {
    color: #fc7f4f;
}

.case5 .case-study-section-title h5 {
    color: #fa7f56;
}

.case-study-about.case5 {
    padding-bottom: 100px;
}

.case5-slide-active .owl-nav div, .case52-slide-active .owl-nav div{
    color: #fa7f56
}

.slide5-bg {
    background-size: cover !important;
    /* background-position: center !important; */
    /* background-repeat: no-repeat !important; */
    padding: 80px 0px;
}

.case5-slide-active .owl-nav div {
    left: -140px;
}

.case5-slide-active .owl-nav .owl-next {
    right: -140px;
}

.case5-custom {
    border: 1px solid #f0f0f0;
    border-bottom: 0px;
    border-bottom: 5px solid #fc8c5c;
    /* border-bottom-left-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
    border-radius: 6px;
    padding: 40px;
    padding-left: 180px;
    padding-right: 240px;
}

.case5-custom {
    border: 1px solid #f0f0f0;
    border-bottom: 0px;
    border-bottom: 5px solid #fc8c5c;
    /* border-bottom-left-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
    border-radius: 6px;
    padding: 40px;
    padding-left: 180px;
    padding-right: 240px;
}

.case5-number h1 {
    margin-bottom: 0;
    font-size: 48px;
    color: #fc8c5c;
}
.case5-number2 p {
    font-size: 12px;
    color: #6e6e6e;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.case5-number2 h1 {
    font-size: 28px;
    margin-bottom: 0;
}

.case5-number2 {
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px #f1f1f1;
    padding: 30px;
    margin-top: 15px;
    border-bottom: 10px solid #fc8c5c;
    border-radius: 7px;
}

.case5 .singlecase3-content {
    margin-top: 60px;
}

.case4.case5 .project-overview-title {
    margin-bottom: 70px;
    margin-top: 70px;
}

.single-project a {
    display: block;
}

/*.single-project a:hover {
    opacity: .7;
}
*/

.single-project a {
    position: relative;
    /* z-index: 1; */
}

.project_d {
    position: absolute;
    left: 0;
    top: 30px;
    padding: 30px;
    transition: .4s;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    padding-top: 5px;
    padding-left: 42px;
    padding-right: 42px;
}
.project_d h1{
    font-size: 24px;
}
.single-project a:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #42ADC9;
    transition: .4s;
    visibility: hidden;
    opacity: 0;
    /* z-index: -1; */
}

.single-project:hover:after {
    opacity: 1;
    visibility: visible;
}

.single-project a:hover:after {
    visibility: visible;
    opacity: 1;
    /* z-index: -1; */
}

.single-project:hover .project_d {
    visibility: visible;
    opacity: 1;
    top: 50px;
}
.coming-soon {
   padding-bottom: 200px;
}

.result .project-overview-title {
    margin-bottom: 50px;
}

.result .case5-number2 {
    border-color: #5bb36a;
}

.result .case5-number2 h1 {
    font-size: 20px;
}
.project-overview-title.cd p a {
    color: #5bb36a;
}
.key-learning.case4_ h5 {
    font-size: 18px;
    color: #5bb36a;
    margin-bottom: 8px
}

.key-learning.case4_ .singlecase3-content p {
    margin-bottom: 25px;
}

.breadcamp-area {
    display: none !important;
}

.loadMoreBtn.btn {
    transition: .4s;
}

.loadMoreBtn.btn:hover {
    background: #48adc7;
    color: #fff !important;
}

.contact-form input[type="submit"] {
    transition: .4s;
}

.contact-form input[type="submit"]:hover {
    background: #fff;
    color: #4dadc5;
    opacity: 1;
}

.hero-area.ho_ .hero-txt h1 {
    font-weight: 400;
    letter-spacing: -2px;
    font-size: 48px;
    line-height: 60px;
}

.hero-area.ho_ .hero-txt h1 em {
    font-style: normal;
    font-weight: 700;
}

div#portfolio .project_d p {
    font-size: 22px;
}

div#work .project_d p {
    font-size: 18px;
}

div#work .project_d {
    padding-left: 34px;
}
div#portfolio .project_d h1 {
    font-size: 32px;
}

.more_project .project_d p {
    font-size: 18px;
}

.single-project.more_project .project_d {
    top: 20px;
}

.single-project.more_project:hover .project_d {
    top: 32px;
}
.case-study-section-title.pdr {
    padding-right: 110px;
}
.case-study-about.case3.ps {
    padding-bottom: 80px;
}

.case-study-hero-text.svg_ img {
    width: 165px;
}

.single-project button {
    cursor: pointer;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    width: 270px;
    height: 60px;
    line-height: 60px;
    margin-top: 40px;
    border-radius: 4px;
    transition: .4s;
    font-size: 18px;
}

.single-project button:hover {
    background: #fff;
    color: #42ADC9;
}
.hero-area.case4.bt.display-table {
    background-position: bottom !important;
}
.process-overview-details-single.sing_p {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 19px;
}
.slide.slick-initialized.slick-slider {
    margin-left: -10px;
    margin-right: -10px;
}

.vc_row .width_1140 {
    max-width: 1140px;
    margin: 0 auto;
}

.case_11 .process-overview-details-single {
    padding-top: 15px;
}

.case_11 .process-overview-details-single h5 {
    line-height: 22px;
}

.case_11 .process-overview-details-single:nth-child(3) {
    padding-top: 26px;
}


.case4.csd .project-overview-title {
    margin-bottom: 40px;
    margin-top: 10px;
}

.case4.cs_u .project-overview-title {
    margin-bottom: -25px;
}
.case4.cd_4 .project-overview-title {
    margin-bottom: -20px;
}


.about-list li a {
    color: #656565;
    border-bottom: 1px solid #626264;
}


.case5-custom p {
    font-size: 22px;
}

.case5-custom strong {
    font-size: 18px;
    color: #fc7f4f;
}

.singlecase3-content iframe {
    margin-top: 30px;
    margin-left: -92px;
    width: 730px !important;
    height: 500px;
}

.image_row p img {
    height: auto !important;
}

.single-project a:after {
    border-radius: 10px;
}


.singlecase3-content p strong {
    font-size: 16px;
}

.project-overview-title p strong {
    font-size: 16px;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.btn.loadMoreBtn {
    border-radius: 40px;
}
.hero-txt h5 {
    margin-bottom: 0;
    margin-top: 25px;
    color: #fff;
    font-size: 18px;
    opacity: .9;
    position: relative;
}

.hero-txt h5:after {
    position: absolute;
    left: 0;
    top: -20px;
    height: 2px;
    width: 28px;
    content: "";
    background: #fff;
     opacity: .9;
}

/*.hero-txt span {
    display: inline-block;
    height: 2px;
    width: 28px;
    background: #fff;
    margin-top: 40px;
    opacity: .9;
    margin-left: -3px;
}
*/

.cta_new p:last-child {
    opacity: 1;
}

.brendan-social-media h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 27px;
}

.brendan-social-media {
    margin-left: 20px;
    margin-top: 12px;
}

.social-icons a {
    font-size: 18px;
    line-height: 44px;
}

/*Footer CSS*/
.footer-bottom {
  height: 328px;
  background-color: #122f3f;
}

.widget.widget_nav_menu ul li a {
  opacity: 0.8;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.footer-socials ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-socials li {
  display: inline-block;
}

.footer-socials li a i {
    width: 30px;
    height: 30px;
    color: #279ac9;
    background-color: #eaf5f9;
    transition: all ease .5s;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-left: 5px;
    font-size: 14px;
}

.footer-socials li a i:hover {
    background: #279ac9;
    color: #fff;
}

.widget.widget_nav_menu ul li:hover a {
    color: #279ac9;
}

.cta-bg-theme {
    position: relative;
    height: 360px;
    max-height: 100%;
    clear: both;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
}


.home .cta-bg-theme {
    margin-top: 120px;
}

.cta-bg-theme:before {
    position: absolute;
    background-image: url(../assets/img/about-bg.png);
    background-size: cover;
    background-position: center;
    height: 380px;
    width: 100%;
    left: 0;
    top: 0;
    content: "";
}

.gfc-theme {
    position: relative;
}

.gfc-theme:before {
    position: absolute;
    background-image: url(../assets/img/sub-bg.png);
    background-size: cover;
    background-position: center;
    height: 465px;
    width: 100%;
    left: 0;
    top: 0;
    content: "";
    border-radius: 10px;
}


















